<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/userLogin.css" type="text/css">
</head>
<body>
<div class="register">
    <h1>Создание пользователя</h1>
    <form action="/registration/save-info" method="post">
        <input type="email" placeholder="Email" id="email" name="email" required>
        <input type="password" placeholder="Пароль" id="password" name="password" required>
        <input type="password" placeholder="Повторите пароль" name="checkPass" id="checkPass" required>
        <button type="submit" class="btn btn-primary btn-block btn-large">Зарегистрироваться</button>
    </form>
    <a id="regToLog" href="/user/login" type="text">Войти в систему</a>
</div>
<canvas class="background"></canvas>
</body>
</html>
