<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/userLogin.css" type="text/css">
</head>
<body>
<div class="register">
    <h1>Создание пользователя</h1>
    <form action="/registration/create-user" method="post">
        <h3>Введите имя</h3>
        <input type="text" placeholder="Александр" id="firstName" name="firstName" required>
        <h3>Введите Фамилию</h3>
        <input type="text" placeholder="Александров" id="lastName" name="lastName" required>
        <button type="submit" class="btn btn-primary btn-block btn-large">Далее</button>
    </form>
</div>
<canvas class="background"></canvas>
</body>
</html>
