/* Сброс и базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9fafc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    font-size: 24px;
    color: #4a4d56;
    text-align: center;
    margin-bottom: 20px;
}


.user-details {
    max-width: 400px;
    width: 90%;
    background-color: white;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Легкая тень для глубины */
    text-align: center;
}

.user-details p {
    font-size: 16px;
    margin: 10px 0;
    color: #171717;
}

.user-details p strong {
    font-weight: bold;
    color: #4a90e2;
}

/* Кнопка "Назад" */
.user-details a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4a90e2; /* Акцентный цвет */
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.user-details a:hover {
    background-color: #357ab8;
}
