<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать пользователя</title>
    <link rel="stylesheet" href="/css/userLogin.css">

</head>
<body>
<div class="nav">
    <h1>Создать новый проект</h1>
</div>
<form action="/projects/create-project" method="post">
    <div class="form-group">
        <label for="projectName">Название проекта:</label>
        <input type="text" id="projectName" name="projectName" required>
    </div>
    <div class="form-group">
        <label for="projectInfo">информация о проекте:</label>
        <input type="text" id="projectInfo" name="projectInfo" required>
    </div>
</form>
    <canvas class="background"></canvas>
</body>
</html>
