<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Tracker</title>
    <link rel="stylesheet" href="/css/MainPage.css">

    <script>
        let timers = {};
        let createdAt;


        async function startTimer(taskId, userId) {
            try {
                if (timers[taskId] && !timers[taskId].isStopped) {
                    console.log(`Timer for task ${taskId} is already running.`);
                    return;
                }

                if (timers[taskId] && timers[taskId].isStopped) {
                    console.log(`Resuming timer for task ${taskId}.`);
                    timers[taskId].isStopped = false;
                    timers[taskId].startTime = new Date() - timers[taskId].elapsed * 1000;
                    timers[taskId].interval = setInterval(() => updateTimer(taskId), 1000);
                    return;
                }

                const response = await fetch(`/records/start?userId=${userId}&taskId=${taskId}`, {
                    method: 'POST'
                });

                if (response.ok) {
                    const recordedTime = await response.json();
                    const startTime = new Date() - recordedTime * 1000;
                    createdAt = new Date()
                    timers[taskId] = {
                        startTime: startTime,
                        elapsed: recordedTime,
                        isStopped: false,
                        interval: setInterval(() => updateTimer(taskId), 1000)
                    };
                } else {
                    console.error("Failed to start timer");
                }
            } catch (error) {
                console.error("Error starting timer:", error);
            }
        }


        async function stopTimer(taskId) {
            try {
                const response = await fetch(`/records/stop/${taskId}`, {
                    method: 'POST'
                });

                if (response.ok) {
                    clearInterval(timers[taskId].interval);
                    timers[taskId].isStopped = true;
                    timers[taskId].elapsed = Math.floor((new Date() - timers[taskId].startTime) / 1000);
                } else {
                    console.error("Failed to stop timer");
                }
            } catch (error) {
                console.error("Error stopping timer:", error);
            }
        }

        async function saveAndStopTimer(taskId, userId) {
            try {

                const endTime = new Date();


                const response = await fetch(`/records/save/${taskId}/${userId}`, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                        elapsed: timers[taskId].elapsed,
                        startTime: createdAt,
                        endTime: endTime
                    })
                });

                if (response.ok) {
                    clearInterval(timers[taskId].interval);
                    document.getElementById(`timer-${taskId}`).textContent = "Saved";
                    delete timers[taskId];
                } else {
                    console.error("Failed to save and stop timer");
                }
            } catch (error) {
                console.error("Error saving timer:", error);
            }
        }


        function updateTimer(taskId) {
            const timerElement = document.getElementById(`timer-${taskId}`);

            if (timers[taskId] && !timers[taskId].isStopped) {
                const elapsed = Math.floor((new Date() - timers[taskId].startTime) / 1000);
                timers[taskId].elapsed = elapsed;

                const hours = String(Math.floor(elapsed / 3600)).padStart(2, '0');
                const minutes = String(Math.floor((elapsed % 3600) / 60)).padStart(2, '0');
                const seconds = String(elapsed % 60).padStart(2, '0');

                timerElement.textContent = `${hours}:${minutes}:${seconds}`;
            }
        }

        // Получение ID пользователя
        function getUserId() {
            return document.getElementById('user-id').dataset.userid;
        }

        // Запуск таймера задачи
        function startTaskTimer(taskIdElement) {
            const taskId = taskIdElement.dataset.taskid;
            const userId = getUserId();
            startTimer(taskId, userId);
        }

        document.addEventListener('DOMContentLoaded', () => {
            const timerElements = document.querySelectorAll('[id^="timer-"]');

            timerElements.forEach(timerElement => {
                const taskId = timerElement.id.split('-')[1];
                const elapsedTime = parseInt(timerElement.getAttribute('data-elapsedtime'), 10) || 0;

                const hours = String(Math.floor(elapsedTime / 3600)).padStart(2, '0');
                const minutes = String(Math.floor((elapsedTime % 3600) / 60)).padStart(2, '0');
                const seconds = String(elapsedTime % 60).padStart(2, '0');

                timerElement.textContent = `${hours}:${minutes}:${seconds}`;
            });
        });


    </script>
</head>
<body>
<h1>Time Tracker</h1>

<div>
    <h2>User: <span id="user-id" th:data-userid="${user.id}"></span><span ><a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.firstName}"></a></span></h2>
    <h2>Project: <span th:text="${project.projectName}"></span></h2>
    <h1>Добавление новой задачи</h1>
    <form action="/tasks/create-task" method="post">
        <input type="hidden" name="userId" th:value="${user.id}">

        <input type="hidden" name="projectId" th:value="${project.id}">
        <div class="form-group">
            <label for="taskName">Название задачи:</label>
            <input type="text" id="taskName" name="taskName" required>
        </div>
        <div class="form-group">
            <label for="taskInfo">Информация о задаче:</label>
            <input type="text" id="taskInfo" name="taskInfo" required>
        </div>
        <button type="submit">Создать задачу</button>
    </form>


    <table>
        <tr>
            <th>Task</th>
            <th>Timer</th>
            <th>Actions</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td><span th:text="${task.taskName}"></span></td>

            <td>
                <p th:id="'timer-' + ${task.id}"
                   th:data-elapsedtime="${task.record != null && task.record.getTimeRecord() != null ? task.record.getTimeRecord() : 0}">
                    00:00:00</p>


            </td>

            <td>
                <button th:onclick="|startTimer(${task.id}, ${user.id})|">Start</button>
                <button th:onclick="|stopTimer(${task.id})|">Stop</button>
                <button th:onclick="|saveAndStopTimer(${task.id},${user.id})|">Save and Stop</button>
            </td>
        </tr>
    </table>

</div>

<a th:href="@{/}">
    Go Back
</a>
</body>
</html>
