<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Time Tracker</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<h1>Task Time Tracker</h1>

<div th:each="task : ${tasks}">
    <h2 th:text="${task.taskName}">Task Name</h2>


    <form th:action="@{/records/start}" method="post">
        <input type="hidden" name="userId" th:value="${task.user.id}" />
        <input type="hidden" name="taskId" th:value="${task.id}" />
        <button type="submit">Start Task</button>
    </form>


    <div th:each="record : ${task.records}">
        <form th:action="@{/records/stop/{id}(id=${record.id})}" method="post" th:if="${record.endTime == null}">
            <button type="submit">Stop Task</button>
        </form>
    </div>
</div>


</body>
</html>
