<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<h2>Users List</h2>
<table >
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.createdAt}"></td>
        <td>
            <a th:href="@{/users/{id}(id=${user.id})}">View Details</a>
        </td>
    </tr>
</table>
</body>
</html>
